[Unit]
Description=Smap Database Subscriber

[Service]
Type=simple
User=tomcat
ExecStart=/smap_bin/subscribers.sh default /smap forward
Restart=on-failure

[Install]
WantedBy=multi-user.target
